@header-height: 100px;
@header-font-family: 'Exo 2', sans-serif;
@header-font-size: 1.1em;
@header-logo-width: 150px;

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: @header-height;
  font-family: @header-font-family;
  font-size: @header-font-size;

  .logo {
    width: @header-logo-width;
  }

  .nav-bar {
    a {
      text-decoration: none;
      font-size: 1.1em;
      color: #353535;
      // margin-right: 100px;
      transition: opacity .2s ease-in-out,color .2s ease-in-out;
      &:hover {
        color: #1565c0;
      }
    }
  }

  svg {
    cursor: pointer;
    &:hover {
      path {
        color: #78909c;
      }
    }
    path {
      color: #b0bec5;
    }
  }
}
